#title {
    color: red;
    text-align: center;
}

#description {
    color: rgb(255, 230, 0);
    text-align:center;
}

body {
    background-repeat:repeat-1;
    background-size: 100%;
}

#survey-form {
    width:900px;
    text-align:justify;
    background-color:beige;
    opacity: 0.8;
    border-radius: 5px;      
}

#survey-form {
    position: relative;
    margin: auto;
}

#container {
    margin: auto;
}

.group {
    padding: 30px;
    border-radius: 5px;
}

#name {
    position: relative;
    top: 30px;
    right: 60px;
    height: 35px;
    width: 400px;
    border-radius: 10px;
}

#email {
    position: relative;
    top: 30px;
    right: 60px;
    height: 35px;
    width: 400px;
    border-radius: 10px
}

.role-picklist {
    border-radius: 10px;
    height: 35px;
    width: 400px;
}

#number {
    position: relative;
    top: 30px;
    right: 135px;
    width: 400px;
    height: 35px;
    border-radius: 10px;
}

#comments {
    width: 400px;
    border-radius: 10px;
}

#submit {
    width: 100px;
    border-radius: 10px;
    color: white;
    background-color: #0F5897;   
}

#submit:hover {
    animation-name: background-color;
    animation-duration: 2000ms;
  }

  @keyframes background-color {
    100% {
      background-color: #4791d0;
    }
  }

#module {
    width: 400px;
    height: 35px;
    border-radius: 10px;
}